/* Navbar */
.navbar {
    background-color: #333;
    padding: 10px 20px;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo img {
    width: 100px;
  }
  
  .navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .navbar-links li {
    margin-left: 20px;
  }
  
  .navbar-links li:first-child {
    margin-left: 0;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  .navbar-links a:hover {
    color: #ff6600;
  }
  
  .menu-icon {
    display: none; /* Hide menu icon by default */
    cursor: pointer;
    color: #fff;
  }
  
  /* Responsive */
  @media screen and (max-width: 768px) {
    .navbar-container {
      flex-direction: column;
      align-items: center;
    }
  
    .navbar-links {
      margin-top: 20px;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      display: none; /* Hide navigation links by default on small screens */
    }
  
    .navbar-links.open {
      display: flex; /* Show navigation links when menu is open */
    }
  
    .navbar-links li {
      margin: 10px 0;
    }
  
    .menu-icon {
      display: block; /* Show menu icon on small screens */
    }
  }
  