/* Navbar styles */
.navbar {
  background-color: #1a1a1a; /* Dark background color */
  padding: 20px; /* Add padding to the navbar */
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Distribute items evenly */
  position: fixed; /* Fix the navbar position */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure navbar is above other elements */
}

.navbar-logo img {
  height: 40px; /* Adjust logo size */
}

.navbar-title {
  color: #f3eb0b; /* Gold text color */
  font-size: 36px; /* Adjusted font size for readability */
  font-weight: bold; /* Add bold font weight */
  text-transform: uppercase; /* Convert text to uppercase */
  position: fixed; /* Fix the title position */
  top: 20px; /* Align the title to the top */
  left: 50%; /* Align the title to the middle horizontally */
  transform: translateX(-50%); /* Center the title horizontally */
  animation: glow 2s infinite alternate; /* Add glow animation */
  text-shadow: 0 0 8px #f3eb0b, 0 0 16px #f3eb0b, 0 0 24px #f3eb0b; /* Adjusted shadow for better readability */
  transition: color 0.3s ease; /* Add transition effect for color change */
}

/* Add hover effect */
.navbar-title:hover {
  color: #ffcc00; /* Change color on hover */
}

@keyframes glow {
  from {
    text-shadow: 0 0 8px #f3eb0b, 0 0 16px #f3eb0b, 0 0 24px #f3eb0b; /* Adjusted initial shadow */
  }
  to {
    text-shadow: 0 0 16px #f3eb0b, 0 0 24px #f3eb0b, 0 0 32px #f3eb0b; /* Adjusted final shadow */
  }
}





.navbar-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  margin-right: 20px;
}

.navbar-links li a {
  text-decoration: none;
  color: #ffffff; /* White text color */
  font-size: 16px; /* Adjust font size */
  transition: color 0.3s ease;
}

.navbar-links li a:hover {
  color: #ff9800; /* Orange hover color */
}

/* Menu icon for mobile */
.menu-icon {
  display: none;
  cursor: pointer;
  color: #ffffff; /* White color */
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px; /* Adjust distance from the top */
    left: 0;
    width: 100%; /* Take full width of the viewport */
    background-color: #1a1a1a; /* Dark background color */
    padding: 20px 0;
    z-index: 1000; /* Ensure navbar is above other elements */
    text-align: center;
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-links li {
    margin: 10px 0;
  }
}
